.inactive {
    cursor: pointer;
    -webkit-transform: translate3d(160px, 0px, 0px) scale(0.5);
    -moz-transform: translate3d(160px, 0px, 0px) scale(0.5);
    -ms-transform: translate3d(160px, 0px, 0px) scale(0.5);
    transform: translate3d(160px, 0px, 0px) scale(0.5);
}
.menu {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-backface-visibility: hidden;
}
.menu.menu-left{
    transition: all 300ms ease-in-out;
}
.menu.menu-left .list {
    transition: all 300ms ease-in-out;
    transform: scale(.2);
}
.menu.menu-left.active{
    top: 110px;
}
.menu.menu-left.active .list{
    transform: scale(1);
}
.menu.menu-left.active {
    top: 110px;
    left: 40px;
}